<h2 style="margin-top: 40px">Workers</h2>
<p><%= link_to "Add worker", new_worker_registration_path %><br>
<% if @workers == [] %>
    <p>No workers</p>
<% else %>
    <% @workers.each do |w| %>
       <% w.email %>
    <% end %>
<% end %>
