<h1 style="margin-top: 40px">Pages#index</h1>
<% @phones.each do |phone| %>
  <%= link_to phone_path(phone.id) do %>
    <p><%= phone.brand %> <%= phone.model %><% end %>
  <%= phone.price %> uan</p>
<% end %>
