<!DOCTYPE html>
<html>
  <head>
    <title>Smartphone Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="top: 0px; left: 0px; width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 4px;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    vertical-align: middle;
    box-shadow: 4px 2px 7px 3px rgba(0, 0, 0, 0.44);">
      <% if admin_signed_in? %>
        <strong><%= current_admin.email %>(admin)</strong> <%= link_to "Profile", edit_admin_registration_path %> <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
        <%= link_to "View phones", admin_phone_list_path %>
        <%= link_to "View consultants" %>
        <%= link_to "View workers", admin_worker_list_path %>
      <% end %>
      <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <%= link_to "My Profile" %>
        <% else %>
        <% if !admin_signed_in? && !worker_signed_in? && !consultant_signed_in? %>
            <%= link_to "Log in", new_user_session_path %>
        <% end %>
      <% end %>

      <% if worker_signed_in? %>
            <strong><%= current_worker.email %>(worker)</strong>
            <%= link_to "Profile", edit_worker_registration_path %>
            <%= link_to "Log out", destroy_worker_session_path, method: :delete %>
      <% end %>

      <% if consultant_signed_in? %>
            <strong><%= current_consultant.email %>(consultant)</strong>
            <%= link_to "Profile", edit_consultant_registration_path %>
            <%= link_to "Log out", destroy_consultant_session_path, method: :delete %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
